@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

:root{
    --first-bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: white;
    --main-color: #0ef;
}

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}
body{
    background-color: var(--first-bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5%;
    width: 100%;
    background-color: var(--first-bg-color);
}
.navbar a{
    margin: 1rem;
    color: var(--text-color);
}
.logo{
    font-size: 1.5rem;
    color: var(--text-color);
}

.logo:hover{
    color: var(--main-color);
}

.navbar a:hover{
    color: var(--main-color);
}
section{
    min-height: 100vh;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.left-h{
    font-size: .8rem;
    padding: 12rem 5%;
}
.left-h h1{
    font-size: 3rem;
    color: var(--main-color);
}
.left-h h1:hover{
    color: var(--text-color);
    transition: 1s;
}
.left-h h2{
    font-size: 2rem;
}
.left-h h3{
    font-size: 2rem;
}
.left-h a{
    font-size: 200%;
    color: var(--main-color);
}
.left-h a:hover{
    color: var(--text-color);
}
.right-h img{
    width: 90%;
    border-radius: 4rem;
    
}
.services{
    background-color: var(--second-bg-color);
}
.services h1{
    display: flex;
    justify-content: center;
    padding-top: 7%;
    font-size: 3rem;
}
.services-color{
    color: var(--main-color);
    margin-left: 10px;
}
.services-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 2rem;

}
.services .div-ser{
    flex: 0 1 28rem;
    background-color: var(--first-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: 0.6s ease;
}
.btn:hover{
    box-shadow: none;
}
.div-ser h3{
    font-size: 2rem;
}
.div-ser p{
    font-size: 1rem;
}
.div-ser i{
    font-size: 4rem;
}
.div-ser .btn{
    margin-top: 2rem;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--second-bg-color);
}
.about img{
    width: 90%;
    border-radius: 4rem;
}
  
.about h1{
    font-size: 3rem;
    color: var(--main-color);
}
.about h3{
    font-size: 1.5rem;
}
.about .btn{ 
    margin-top: 1.5rem;
    margin-left: .25rem;
    box-shadow: 0 0 .4rem var(--main-color);
}
.about .btn:hover{
    box-shadow: none;
}
@media (max-width: 1367px) {
    .about .about-btn{
        /* margin-left: 7rem; */
        display: flex;
        justify-content: center;
    } 
}
@media (max-width: 1367px) {
    .about .about-p h1, 
    .about .about-p h3,
    .about .about-p p{
        display: flex;
        justify-content: center;
        padding: 20px;
    }
}
@media (max-width: 1367px) {
    .about .about-img{
        display: flex;
        justify-content: center;
        padding: 20px;
        padding-bottom: 0;
    }
    .about-btn a{
        margin-bottom: 20px;
    }
}
@media (max-width: 1111px) {
    .home .right-h{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .left-h{
        font-size: .8rem;
        padding: 10rem 5%;
        padding-bottom: 0;
    }
    
}
@media (max-width: 449px) {
    .navbar{
        position: absolute;
        right: 0;
        width: 200px;
    } 
}
@media (max-width: 448px) {
    .contact-header{
        padding-left: 50px;
        
    }
    
}
.contact h1{
    display: flex;
    justify-content: center;
    padding-top: 7%;
    font-size: 3rem;
}
.me-color{
    margin-left: 10px;
    color: var(--main-color);
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    
}
.contact form .form-input{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .form-input{
    padding-left: 10px;
    padding-right: 10px;
}
.contact form .form-input input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: .8rem;
    color: var(--text-color);
    background-color: var(--second-bg-color);
    border-radius: 1rem;
    margin: .7rem 0;
}
.contact form .form-textarea{
    padding: 10px;
}

.contact{
    background-color: var(--first-bg-color);
}

.contact form .form-input input{
    width: 50%;
    
}
footer .bootom{
    background-color: var(--second-bg-color);
    width: 100%;
}
.portfolio{
    background: var(--first-bg-color);
    
 }
.portfolio-main-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 6rem;
 }
.portfolio-main-div .por-div{
    position: relative;
    border-radius: 3rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;
    display: flex;
    margin: 10px;
}
.por-div img{
    width: 100%;
    transition: .5s ease;
}
.por-div:hover img{
    transform: scale(1.1);
}
.por-div .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 5rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.por-div:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h2{
    font-size: 2rem;
}
.portfolio-layer p{
    font-size: .8rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem ;
    color: var(--second-bg-color);
}
.portfolio h1{
    display: flex;
    justify-content: center;
    padding-top: 6%;
    font-size: 3rem;
}
.project{
    color: var(--main-color);
    margin-left: 10px;
}




